// Dependencies
@import "../../breakpoints/breakpoints";

// Display helpers
@mixin display-inline() {
  display: inline !important;
}

@mixin display-block() {
  display: block !important;
}

@mixin display-inline-block() {
  display: inline-block !important;
}

@mixin display-flex() {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: box !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@mixin displays() {
  .display-inline {
    @include display-inline();
  }

  .display-block {
    @include display-block();
  }

  .display-inline-block {
    @include display-inline-block();
  }

  .display-flex {
    @include display-flex();
  }
}

// Responsive display helpers
@mixin responsive-displays() {
  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .display-#{$breakpoint}-inline {
        @include display-inline();
      }
      .display-#{$breakpoint}-block {
        @include display-block();
      }
      .display-#{$breakpoint}-inline-block {
        @include display-inline-block();
      }
      .display-#{$breakpoint}-flex {
        @include display-flex();
      }
    }
  }
}