// Dependencies
@import "../../breakpoints/breakpoints";

// Flexbox helpers
@import "flexbox/flex-direction";
@import "flexbox/flex-wrap";
@import "flexbox/align-items";
@import "flexbox/align-self";
@import "flexbox/align-content";
@import "flexbox/justify-content";
@import "flexbox/flex-grow";
@import "flexbox/flex-shrink";

@mixin flexbox() {
  @include flex-directions();
  @include flex-wraps();
  @include _align-items();
  @include align-selfs();
  @include align-contents();
  @include justify-contents();
  @include flex-grows();
  @include flex-shrinks();
}