// Dependencies
@import "../../variables/grid";
@import "../../breakpoints/breakpoints";

// Pulls to float content
@mixin pull-left {
  float: left !important;
}

@mixin pull-right {
  float: right !important;
}

@mixin pull-none {
  float: none !important;
}

@mixin pulls() {
  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .pull-#{$breakpoint}-left {
        @include pull-left();
      }
      .pull-#{$breakpoint}-right {
        @include pull-right();
      }
      .pull-#{$breakpoint}-none {
        @include pull-none();
      }
    }
  }
}