// Default transition durations
$fastest:         0.1s;
$veryFast:        0.25s;
$fast:            0.35s;
$medium:          0.5s;
$slow:            0.75s;
$verySlow:        1s;
$slowest:         2.5s;