// Standard, basic browser supported elements
@import "general/heading";
@import "general/paragraph";
@import "general/cite";
@import "general/blockquote";
@import "general/pre";
@import "general/hr";
@import "general/a";
@import "general/button";
@import "general/label";
@import "general/strong";
@import "general/em";
@import "general/small";
@import "general/mark";
@import "general/abbr";
@import "general/code";
@import "general/kbd";
@import "general/dl";
@import "general/ol";
@import "general/ul";
@import "general/li";