// Dependencies
@import "../variables/grid";
@import "../units/px";

// Simplified media queries based on breakpoints
@function breakpoint-next($name, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name) {
  $next: breakpoint-next($name);
  @return if($next, breakpoint-min($next) - 1px, null);
}

@mixin media-breakpoint-up($name) {
  $min: breakpoint-min($name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  $max: breakpoint-max($name);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-only($name) {
  @include media-breakpoint-up($name) {
    @include media-breakpoint-down($name) {
      @content;
    }
  }
}

@mixin media-breakpoint-between($lower, $upper) {
  @include media-breakpoint-up($lower) {
    @include media-breakpoint-down($upper) {
      @content;
    }
  }
}