// Dependencies
@import "../variables/bottle-variables";

// Retrieve space size variations
@function get-spacer-fourth() {
  @return bottle-get('spacer') / 4;
}

@function get-spacer-third() {
  @return bottle-get('spacer') / 3;
}

@function get-spacer-half() {
  @return bottle-get('spacer') / 2;
}

@function get-spacer() {
  @return bottle-get('spacer');
}

@function get-spacer-double() {
  @return bottle-get('spacer') * 2;
}

@function get-spacer-triple() {
  @return bottle-get('spacer') * 3;
}

@function get-spacer-quadruple() {
  @return bottle-get('spacer') * 4;
}

@function get-spacer-collapse-fourth() {
  @return bottle-get('spacer-collapse') / 4;
}

@function get-spacer-collapse-third() {
  @return bottle-get('spacer-collapse') / 3;
}

@function get-spacer-collapse-half() {
  @return bottle-get('spacer-collapse') / 2;
}

@function get-spacer-collapse() {
  @return bottle-get('spacer-collapse');
}

@function get-spacer-collapse-double() {
  @return bottle-get('spacer-collapse') * 2;
}

@function get-spacer-collapse-triple() {
  @return bottle-get('spacer-collapse') * 3;
}

@function get-spacer-collapse-quadruple() {
  @return bottle-get('spacer-collapse') * 4;
}

// Apply spacer margins
@mixin spacer($important: false) {
  margin-bottom: if($important, get-spacer() !important, get-spacer());
}
@mixin spacer-fourth($important: false) {
  margin-bottom: if($important, get-spacer-fourth() !important, get-spacer-fourth());
}
@mixin spacer-third($important: false) {
  margin-bottom: if($important, get-spacer-third() !important, get-spacer-third());
}
@mixin spacer-half($important: false) {
  margin-bottom: if($important, get-spacer-half() !important, get-spacer-half());
}
@mixin spacer-double($important: false) {
  margin-bottom: if($important, get-spacer-double() !important, get-spacer-double());
}
@mixin spacer-triple($important: false) {
  margin-bottom: if($important, get-spacer-triple() !important, get-spacer-triple());
}
@mixin spacer-quadruple($important: false) {
  margin-bottom: if($important, get-spacer-quadruple() !important, get-spacer-quadruple());
}
@mixin spacer-collapse($important: false) {
  margin-bottom: if($important, get-spacer-collapse() !important, get-spacer-collapse());
}
@mixin spacer-collapse-fourth($important: false) {
  margin-bottom: if($important, get-spacer-collapse-fourth() !important, get-spacer-collapse-fourth());
}
@mixin spacer-collapse-third($important: false) {
  margin-bottom: if($important, get-spacer-collapse-third() !important, get-spacer-collapse-third());
}
@mixin spacer-collapse-half($important: false) {
  margin-bottom: if($important, get-spacer-collapse-half() !important, get-spacer-collapse-half());
}
@mixin spacer-collapse-double($important: false) {
  margin-bottom: if($important, get-spacer-collapse-double() !important, get-spacer-collapse-double());
}
@mixin spacer-collapse-triple($important: false) {
  margin-bottom: if($important, get-spacer-collapse-triple() !important, get-spacer-collapse-triple());
}
@mixin spacer-collapse-quadruple($important: false) {
  margin-bottom: if($important, get-spacer-collapse-quadruple() !important, get-spacer-collapse-quadruple());
}
@mixin counter-spacer($important: false) {
  margin-bottom: if($important, 0 !important, 0);
}

// Adjusts the top margin to account for collapsible siblings
// The element must be registered in the $collapsible-elements bottle variable
@mixin collapsible() {
  $selectors: ();
  @each $selector in bottle-get('collapsible-elements') {
    $selectors: append($selectors, unquote('& + #{$selector}:not(.no-collapse)'), comma);
  }
  #{$selectors} {
    margin-top: get-spacer-collapse() - get-spacer();
  }
}
@mixin counter-collapsible() {
  $selectors: ();
  @each $selector in bottle-get('collapsible-elements') {
    $selectors: append($selectors, unquote('& + #{$selector}:not(.no-collapse)'), comma);
  }
  #{$selectors} {
    margin-top: 0;
  }
}

// A shorthand combination for spacer() and collapsible()
@mixin spacer-collapsible($important: false) {
  @include spacer($important);
  @include collapsible();
}
@mixin counter-spacer-collapsible($important: false) {
  @include counter-spacer($important);
  @include counter-collapsible();
}

// For blocks containing spacer elements, the last one will need to be compensated if such blocks need a padding
// If there were to be no padding, simple margin collapse would solve the issue
@mixin spacer-block() {
  &::after {
    content: '';
    display: block;
    min-height: 0.01px; // force avoid margin collapsing (only compensate children, but not parent)
    margin-top: -1 * get-spacer();
  }
}
@mixin counter-spacer-block() {
  &::after {
    display: none !important;
  }
}