// Text transform
.text-transform-none {
  text-transform: none !important;
}

.text-transform-uppercase {
  text-transform: uppercase !important;
}

.text-transform-lowercase {
  text-transform: lowercase !important;
}