// White spaces
.white-space-normal {
  white-space: normal !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.white-space-pre {
  white-space: pre !important;
}

.white-space-pre-line {
  white-space: pre-line !important;
}

.white-space-pre-wrap {
  white-space: pre-wrap !important;
}