// Dependencies
@import "../../breakpoints/breakpoints";

// Block aligns
.block-align-left {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.block-align-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.block-align-right {
  margin-left: auto !important;
  margin-right: 0 !important;
}

// Responsive block aligns
@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .block-#{$breakpoint}-left {
      margin-left: 0 !important;
      margin-right: auto !important;
    }
    .block-#{$breakpoint}-center {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .block-#{$breakpoint}-right {
      margin-left: auto !important;
      margin-right: 0 !important;
    }
  }
}