// Dependencies
@import "../../../modular/element";

// Citations
@mixin cite() {
  @include modular-element(cite) {
    display: block;

    @content;

    &:not(.text-align-right) {
      &::before {
        content: '\2014\00a0';
        display: inline;
      }
    }

    &.text-align-right {
      &::after {
        content: '\00a0\2014';
        display: inline;
      }
    }
  }
}